<h1>Edit <%= @image.title %></h1>

<%= render "errors", :object => @image %>

<%= render "form" %>
<br>
&Qopf; <span><%= link_to "Back", root_path %></span>
&Qopf; <span><%= link_to "Edit", edit_image_path %> </span>
&Qopf; <span><%= link_to "Delete", image_path(@image),
                       :data => {:confirm => "Confirm Image Deletion?",
                                 :method => "delete"} %></span>  &Qopf;
