<h1>Hi Mom!</h1>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <h2>Stack That Overflows</h2>
  </span>
  <span class="navbar-text">
    <h2><%= link_to "Home", root_path %></h2>
  </span>
  <span class="navbar-text">
    <% if current_user %>
      <h2><%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, method: :delete) %></h2>
    <% else %>
      <h2><%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %></h2>
    <% end %>
  </span>
</nav>
<%= link_to "Upload an image", new_image_path %>
<br>

<% if @images %>
  <% @images.each do |image| %>
  <%= image.title %> <%= image.files %>
  <br>
  <%= link_to image_tag(image.img.url(:thumb)), image_path(image) %>
  <br>
  <% end %>
<% else %>
  <h2>there are currently no images in the system. dummy.</h2>
<% end %>
